<ion-header>
  <ion-navbar>
    <ion-title>
      <div class="tinder-toggle" (click)="toggleActive()"> 
        <div [class.active]="!toggle"><ion-icon name="md-albums"></ion-icon></div>
        <div [class.active]="toggle"><ion-icon name="md-list"></ion-icon></div>
      </div>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content class="home">
  <div *ngIf="!toggle" swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="voteUp(true)" (throwoutright)="voteUp(false)" (throwoutdown)="voteUp(false)" (throwoutup)="voteUp(true)" id="card-stack" [style.zIndex]="-1000">
      <ion-card #mycards1 swing-card *ngFor="let c of cards; trackBy:trackByCards; let i=index;" [style.zIndex]="-1 * i" [style.marginTop]="i === 0 ? '0px ': '12px'">
        <ion-item>
          <img class="image" [src]="c.image">
          <h2>{{ capitalize(c.name) }}</h2>
          <p>{{ capitalize(c.mealtime) }}</p>
        </ion-item>

        <ion-card-content *ngIf="c.location">
          From: {{ capitalize(c.location) }}, {{ capitalize(c.cafe) }}<br>
          <ion-row class="preferences" >
              <img *ngIf="c.vegetarian" src="assets/imgs/vegetarian.png"/>
              <img class="preferences" *ngIf="c.vegan" src="assets/imgs/vegan.png"/>
          </ion-row>
        </ion-card-content>
        
      </ion-card>
      <div class="card-actions">
          <button class="rounded button no" (click)="voteUp(true)" ion-button icon-only>
            <ion-icon name="close"></ion-icon>
          </button>
          <button class="rounded button like" (click)="voteUp(false)" ion-button icon-only>
            <ion-icon name="heart"></ion-icon>
          </button>
          <button class="rounded button detail" (click)="openDetail()" ion-button icon-only>
            <ion-icon name="md-list-box"></ion-icon>
          </button>
        </div>
    </div>
    <div *ngIf="toggle">
      <ion-list *ngIf="toggleFilter">
        <ion-item>
          <ion-label>Location</ion-label>
          <ion-select [(ngModel)]="filter" interface="popover">
            <ion-option selected="true" value="all">All</ion-option>
            <ion-option value="brody">Brody</ion-option>
            <ion-option value="case">Case</ion-option>
            <ion-option value="wilson">Wilson</ion-option>
            <ion-option value="holden">Holden</ion-option>
            <ion-option value="landon">Landon</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-fab bottom right>
        <button ion-fab mini (click)="toggleFilter = !toggleFilter"><ion-icon name="md-options"></ion-icon></button>
      </ion-fab>
      <ion-list>
          <ion-item-sliding *ngFor="let c of cards">
            <ion-item>
              <ion-thumbnail item-start>
                <img [src]="c.image">
              </ion-thumbnail>
              <h2>{{ capitalize(c.name) }}</h2>
              <h3>{{ capitalize(c.mealtime) }}</h3>
              <p>{{ capitalize(c.location) }} {{ capitalize(c.cafe) }}</p>
            </ion-item>
            <ion-item-options side="left">
              <button ion-button color="primary">
                <ion-icon name="text"></ion-icon>
                Text
              </button>
              <button ion-button color="secondary">
                <ion-icon name="call"></ion-icon>
                Call
              </button>
            </ion-item-options>
            <ion-item-options side="right">
              <button ion-button color="primary">
                <ion-icon name="mail"></ion-icon>
                Email
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
    </div>
</ion-content>